<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="C:\Users\Todor\Desktop\CsharpProjects\TestChenrobyl1\TestChenrobyl\wwwroot\css\site.css" />
</head>

<body>
    <form>
        <div class="inputBox">
            <p>
                Enter cuisine <input type="text" required="required" name="cuisine" id="cuisine" />
            </p>
            <p>
                Enter Max Calories
                <input type="text" required="required" name="maxCalories" />
            </p>
            <p>
                Exclude Ingridients
                <input type="text" required="required" name="excludeIngridients" />
            </p>
            <button type="submit">Search</button>

        </div>
    </form>

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <p>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
            </p>
            <p>@ViewData["noData"]</p>

        }
    }
</body>


</html>
