@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="C:\Users\Todor\source\repos\FeastFit\FeastFit\wwwroot\css\site.css" />
</head>

<body>
    <form>
        <div class="HomeContainer">
            
                <div class="image-container">
                <a href="Web/WebIndex">
                    <img src="https://i.pinimg.com/564x/8e/5b/a7/8e5ba7ec864dcd8d4c2b7183b50e18cd.jpg" alt="Image 1" />
                    <p>Home</p>
                </a>
                </div>
            

            <div class="image-container">
                <img src="https://i.pinimg.com/originals/64/8c/79/648c7973a35d9c4c07e448c1056bb148.gif" alt="Image 2" />
                <p>Enter</p>
            </div>

            
            <div class="image-container">
                <img src="https://i.pinimg.com/originals/54/ba/a5/54baa51cba33d11a4b8fd97e922300f4.gif" alt="Image 3" />
<p>ToDo</p>
                </div>
            

                <div class="image-container">
            <img src="https://i.pinimg.com/originals/33/57/23/335723ad866aaa9fd0f08e72429f70b0.gif" alt="Image 4" />
        <p>ToDo</p>    
        </div>
      </div>

    </form>
               
          
    
</body>
</html>
=======
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<<<<<<< HEAD
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
=======
>>>>>>> 71dd9fe0105b47d58ab48f123d2ad3b1ee570985
